#### Creating DataSet for our model

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'input_number': [],
    'label': []
})
df

Empty DataFrame
Columns: [input_number, label]
Index: []

In [3]:
for i in range(1,1001):
  if i%3==0 and i%5==0:
    df.loc[i] = [i,"FizzBuzz"]
  elif i%3==0:
    df.loc[i] = [i,"Fizz"]
  elif i%5==0:
    df.loc[i] = [i,"Buzz"]
  else:
    df.loc[i] = [i,"Other"]

In [4]:
df

      input_number  label
1                1  Other
2                2  Other
3                3   Fizz
4                4  Other
5                5   Buzz
...            ...    ...
996            996   Fizz
997            997  Other
998            998  Other
999            999   Fizz
1000          1000   Buzz

[1000 rows x 2 columns]

In [9]:
df['label'][15]

'FizzBuzz'

In [10]:
df.shape

(1000, 2)

In [11]:
df.size

2000

In [13]:
df.to_csv('data.csv')